<a href="https://colab.research.google.com/github/ashwath-tech/Would_You_Survive_The_Titanic-/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
data = files.upload()
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn import metrics
df = pd.read_csv("Titanic-Dataset.csv")

In [ ]:
#The dataframe is displayed
df.head()

In [ ]:
#The missing values have bee dealt with
df.drop(["Cabin","Ticket"], axis = 1, inplace = True)
df.dropna(subset = ["Embarked"], inplace = True)
df.replace(to_replace="male", value=1, inplace=True)
df.replace(to_replace="female", value=-1, inplace=True)
df.replace(to_replace="S", value=1, inplace=True)
df.replace(to_replace="C", value=2, inplace=True)
df.replace(to_replace="Q", value=3, inplace=True)
df.drop(["Name"], axis = 1, inplace = True)
df.drop(["PassengerId"], axis = 1, inplace = True)
mean = df["Age"].mean(skipna = True)
df.fillna(mean, inplace=True)

In [ ]:
#Creating training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(df.drop(["Survived"], axis = 1),df["Survived"], test_size = 0.2, random_state=7)

In [ ]:
#Using scikit learn for logistic regression model
scaler = preprocessing.StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
log_reg = LogisticRegression(max_iter=10000, random_state=0, penalty = "l2")
log_reg.fit(X_train, y_train.values)
X_test = scaler.transform(X_test.values)
y_pred = log_reg.predict(X_test)

In [ ]:
#This is the classification report
print(classification_report(y_test.astype(int), y_pred.astype(int)))

In [ ]:
#Check whether you wouldve survuved in the titanic
g = input("enter gender(m/f):")
if g == "m":
  g = 1
elif g == "f":
  g = -1
else:
  print("not valid")
age = int(input("enter age :"))
sib = int(input("enter number of siblings/spouse onboard:"))
cp = int(input("enter number of children/parents onboard:"))
fare = int(input("how much did your ticket cost :"))
embarked = input("where did you start your journey(C = Cherbourg; Q = Queenstown; S = Southampton) :")
if embarked == "S":
  embarked = 1
elif embarked == "C":
  embarked = 2
elif embarked == "Q":
  embarked = 3
Pclass = int(input("enter your class of ticket (1,2,3) :"))

In [ ]:
l = [Pclass, g,	age, sib,	cp,	fare,	embarked]
l = scaler.transform([l])
hmm = log_reg.predict(l)
ans = "Survived" if hmm == 1 else "Dead"
print("You", ans)